<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grist Update Buttons</title>

    <!-- Uses Vue.js and the Grist Plugin API -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="update-buttons.js?ver=1"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="update-buttons.css?ver=1">
</head>

<body>
    <div id="app">
        <div v-if="errMsg" class="status">
            <p>{{ errMsg }}</p>
        </div>
        <div class="buttons flex">
            <button v-for="(choice, i) in choices" :key="i"
                :disabled="isLoading" 
                :style="`color:${choice.text_color}; background:${choice.main_color}`"
                :class="{
                    'ring-offset-2 ring': currentValue === choice.value || currentValue === choice.label,
                    'animate-pulse': isLoading && selectedValue === choice.value
                }"
                class="button" 
                @click="doAction(i)" 
            >
                {{ choice.label }}
            </button>
        </div>
        <div v-if="isLoading" class="result">Loading...</div>
    </div>
</body>

</html>