body {
    font-family: Sans-Serif;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.status {
    padding: 8px;
    margin-top: 40px;
    color: blue;
}


#app {
    background: #505065;
}

.message {
    color: orange;
}

.button {
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}